* {
  margin: 0;
}

body {
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: auto;
}

header {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./img/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  height: 10%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  margin-left: 10%;
}
.navbar__item {
  margin-right: 10%;
}
.navbar__item li {
  float: left;
  list-style: none;
  margin-right: 40px;
}
main {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #ccc;
  align-items: center;
  justify-content: center;
}
