* {
  margin: 0;
}

body {
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: auto;
}

header {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  border-bottom: 1px solid #ccc;
}

main {
  height: auto;
  width: auto;
  padding-top: 110px;
}
